.location_map
{
    position:relative;
    z-index:0;
    width:100%;
    clear:both;
    min-height: 300px;
}
.location_map-container
{
    position:relative;
    padding:5px;
    margin-top:10px;
    background-color:#fff;
    box-shadow:0 1px 3px rgba(0,0,0,.2);
}
.get_coordinates {
    margin: 5px 0;
    display: block;
}

.instruction {
    color: #fff !important;
    display: block;
}

.get_coordinates a {
    color: #fff !important;
}
.get_coordinates a:hover {
    color: #000 !important;
}